@import '_font';
@import '_settings.colors';
@import '_settings.fonts';
@import '_settings.links';
@import '_settings.text';
@import '_base.global';
@import '_components.columns';
@import '_components.image';
@import '_components.social';
@import '_mobile.settings';
@import '_components.project';

.hide{
	opacity: 0;
}
#quoto{
	font-size: 2rem;
	color: $clr-lighter;
	    margin: 0;
}
.line{
	display: inline-block;
	height: 1px;
	width:1px;
	background: #ccc;
}
#particles {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.particles_zoom {
  -webkit-animation: zoom 2s ease-in-out;
  animation: zoom 2s ease-in-out;
}
@keyframes zoom {
	0%{
		transform: scale(2, 2);
	}
	100%{
		transform: scale(1, 1);
	}
}
#avatar.up{
	margin-top: -50px;
	transition: margin-top 2s ease-in-out;
}

